body {
  height: 100vh;
  display: flex;
  background-color: black;
  align-items: center;
  color: white;
  flex-direction: column;
}

.hide {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 100vw;
  background-color: orange;
  padding: 20px;
  font-size: 15px;
}

.fs {
  margin-top: 50px;
  font-size: 20px;
  animation: fs 6s infinite;
}

.animation {
  margin-top: 300px;
}

@media (max-width:600px) {
  .hide {
    display: none;
  }
  
  .fs {
    font-size: 50px;
  
  }
}

.mymove {
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
  position:relative;
  animation: blink 0.5s infinite;
  position: absolute;
  top:40px;
  left: 130px
}

.mymove::after {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid yellow;
  position:absolute;
  content: "";
  top: 30px;
  left: -50px;

}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fs {
  50% {color: red;}
  100% {color: green;}

}
.startree {
  position: relative;
}

.tree {
  position: relative;
  top: 100px;
}